* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: steelblue;
  color: rgb(7, 14, 54);
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  border-radius: 1rem;
  background: #fff;
  padding: 1rem 2rem;
}

.book h4 {
  color: steelblue;
}
